<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxkj.energy.mapper.car.CarTypeMapper">
  <resultMap id="BaseResultMap" type="com.zxkj.energy.pojo.car.CarType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="car_type_name" jdbcType="VARCHAR" property="carTypeName" />
    <result column="container_length" jdbcType="VARCHAR" property="containerLength" />
    <result column="container_width" jdbcType="VARCHAR" property="containerWidth" />
    <result column="container_height" jdbcType="VARCHAR" property="containerHeight" />
    <result column="container_load_weight" jdbcType="VARCHAR" property="containerLoadWeight" />
    <result column="container_volume" jdbcType="VARCHAR" property="containerVolume" />
    <result column="car_user_reference" jdbcType="VARCHAR" property="carUserReference" />
    <result column="car_type" jdbcType="INTEGER" property="carType" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="writer_name" jdbcType="VARCHAR" property="writerName" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, car_type_name, container_length, container_width, container_height, 
    container_load_weight, container_volume, car_user_reference, car_type, gmt_create, 
    gmt_modified, writer_name, is_delete, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.zxkj.energy.pojo.car.CarType">
    insert into car_type (id, company_id, car_type_name, 
      container_length, container_width, container_height, 
      container_load_weight, container_volume, car_user_reference, 
      car_type, gmt_create, gmt_modified, 
      writer_name, is_delete, remark
      )
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{carTypeName,jdbcType=VARCHAR}, 
      #{containerLength,jdbcType=VARCHAR}, #{containerWidth,jdbcType=VARCHAR}, #{containerHeight,jdbcType=VARCHAR}, 
      #{containerLoadWeight,jdbcType=VARCHAR}, #{containerVolume,jdbcType=VARCHAR}, #{carUserReference,jdbcType=VARCHAR}, 
      #{carType,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{writerName,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxkj.energy.pojo.car.CarType">
    insert into car_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="carTypeName != null">
        car_type_name,
      </if>
      <if test="containerLength != null">
        container_length,
      </if>
      <if test="containerWidth != null">
        container_width,
      </if>
      <if test="containerHeight != null">
        container_height,
      </if>
      <if test="containerLoadWeight != null">
        container_load_weight,
      </if>
      <if test="containerVolume != null">
        container_volume,
      </if>
      <if test="carUserReference != null">
        car_user_reference,
      </if>
      <if test="carType != null">
        car_type,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="writerName != null">
        writer_name,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="carTypeName != null">
        #{carTypeName,jdbcType=VARCHAR},
      </if>
      <if test="containerLength != null">
        #{containerLength,jdbcType=VARCHAR},
      </if>
      <if test="containerWidth != null">
        #{containerWidth,jdbcType=VARCHAR},
      </if>
      <if test="containerHeight != null">
        #{containerHeight,jdbcType=VARCHAR},
      </if>
      <if test="containerLoadWeight != null">
        #{containerLoadWeight,jdbcType=VARCHAR},
      </if>
      <if test="containerVolume != null">
        #{containerVolume,jdbcType=VARCHAR},
      </if>
      <if test="carUserReference != null">
        #{carUserReference,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="writerName != null">
        #{writerName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxkj.energy.pojo.car.CarType">
    update car_type
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="carTypeName != null">
        car_type_name = #{carTypeName,jdbcType=VARCHAR},
      </if>
      <if test="containerLength != null">
        container_length = #{containerLength,jdbcType=VARCHAR},
      </if>
      <if test="containerWidth != null">
        container_width = #{containerWidth,jdbcType=VARCHAR},
      </if>
      <if test="containerHeight != null">
        container_height = #{containerHeight,jdbcType=VARCHAR},
      </if>
      <if test="containerLoadWeight != null">
        container_load_weight = #{containerLoadWeight,jdbcType=VARCHAR},
      </if>
      <if test="containerVolume != null">
        container_volume = #{containerVolume,jdbcType=VARCHAR},
      </if>
      <if test="carUserReference != null">
        car_user_reference = #{carUserReference,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        car_type = #{carType,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="writerName != null">
        writer_name = #{writerName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxkj.energy.pojo.car.CarType">
    update car_type
    set company_id = #{companyId,jdbcType=BIGINT},
      car_type_name = #{carTypeName,jdbcType=VARCHAR},
      container_length = #{containerLength,jdbcType=VARCHAR},
      container_width = #{containerWidth,jdbcType=VARCHAR},
      container_height = #{containerHeight,jdbcType=VARCHAR},
      container_load_weight = #{containerLoadWeight,jdbcType=VARCHAR},
      container_volume = #{containerVolume,jdbcType=VARCHAR},
      car_user_reference = #{carUserReference,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      writer_name = #{writerName,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="sql_where">
    <where>
      <if test="companyId != null">
         and company_id = #{companyId,jdbcType=BIGINT}
      </if>
      <if test="carTypeName != null">
         and car_type_name = #{carTypeName,jdbcType=VARCHAR}
      </if>
      <if test="containerLength != null">
         and container_length = #{containerLength,jdbcType=VARCHAR}
      </if>
      <if test="containerWidth != null">
         and container_width = #{containerWidth,jdbcType=VARCHAR}
      </if>
      <if test="containerHeight != null">
         and container_height = #{containerHeight,jdbcType=VARCHAR}
      </if>
      <if test="containerLoadWeight != null">
         and container_load_weight = #{containerLoadWeight,jdbcType=VARCHAR}
      </if>
      <if test="containerVolume != null">
         and container_volume = #{containerVolume,jdbcType=VARCHAR}
      </if>
      <if test="carUserReference != null">
         and car_user_reference = #{carUserReference,jdbcType=VARCHAR}
      </if>
      <if test="carType != null">
         and car_type = #{carType,jdbcType=INTEGER}
      </if>
      <if test="gmtCreate != null">
         and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModified != null">
         and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
      </if>
      <if test="writerName != null">
         and writer_name = #{writerName,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
         and is_delete = #{isDelete,jdbcType=TINYINT}
      </if>
      <if test="remark != null">
         and remark = #{remark,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="list" parameterType="com.zxkj.energy.pojo.car.CarType" resultMap="BaseResultMap">
    select * from car_type
    <include refid="sql_where" />
  </select>
  <select id="find" parameterType="com.zxkj.energy.pojo.car.CarType" resultMap="BaseResultMap">
    select * from car_type
    <include refid="sql_where" />
  </select>
  <update id="deleteById" parameterType="java.lang.Long">
     update car_type set is_delete = true where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insertBatch" parameterType="java.util.List">
     insert into car_type ( 
    <include refid="Base_Column_List" />
     ) VALUES 
    <foreach collection="insertList" index="index" item="item" separator=",">
      (
      #{item.id},#{item.companyId},#{item.carTypeName},#{item.containerLength},#{item.containerWidth},#{item.containerHeight},#{item.containerLoadWeight},#{item.containerVolume},#{item.carUserReference},#{item.carType},#{item.gmtCreate},#{item.gmtModified},#{item.writerName},#{item.isDelete},#{item.remark}
      )
    </foreach>
  </insert>
  <update id="updateBatch" parameterType="java.util.List">
    <foreach close="" collection="updateList" index="index" item="item" open="" separator=";">
       update car_type
      <set>
        company_id = #{item.companyId},car_type_name = #{item.carTypeName},container_length = #{item.containerLength},container_width = #{item.containerWidth},container_height = #{item.containerHeight},container_load_weight = #{item.containerLoadWeight},container_volume = #{item.containerVolume},car_user_reference = #{item.carUserReference},car_type = #{item.carType},gmt_create = #{item.gmtCreate},gmt_modified = #{item.gmtModified},writer_name = #{item.writerName},is_delete = #{item.isDelete},remark = #{item.remark}
      </set>
      where id = #{item.id}
    </foreach>
  </update>
</mapper>